:root{
--webkit-tap-highlight-color: transparent;
}
body {
font-family: 'Chakra Petch', sans-serif;
line-height:25px;
margin-bottom:25px;
font-size:1.6em;}

.left{
max-width: 200px;
margin: auto;}


.photos{
  horizontal-align:middle;
  padding-top: 45px;}

 .home{
  horizontal-align:middle;
  padding-top: 45px;}

img {
    horizontal-align:center;
    margin-top:20px;
    margin-bottom:20px;
    object-fit:cover;
    width:400px;
    height:400px;}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 160px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #CCCCFF;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  font-color:#ffffff;

}

.openbtn:hover {
  background-color: #444;
  cursor: pointer;
   font-color:#ffffff;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
