<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cheatsheet/">
    <link href="../static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css"> <!-- Resource style -->
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% include 'navbar.html' %}
</div>
<main>

        <section class="scroll-parent">
            {% block content %}
            {% endblock %}
        </section>

    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}

</main>
</body>
</html>
