<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cheatsheet/">
    <link href="../static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?effect=fire"
          rel="stylesheet">
    <title>
        {% block title %}{% endblock %}

    </title>
    {% endblock %}
</head>
<main class="d-flex flex-nowrap">
    <body>




    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white" >
    <button class="openbtn" onclick="openNav()">Ruben Cohen</button>


    </nav>
 <div id="main">

            {% block content %}{% endblock %}
        </div>

        <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/home" class="link-dark d-inline-flex text-decoration-none rounded">Maison</a></li>
            <li><a href="/mediterranee" class="link-dark d-inline-flex text-decoration-none rounded">Méditerranée</a>
            </li>
            <li><a href="/lifedrawing" class="link-dark d-inline-flex text-decoration-none rounded">Life Drawing</a>
            </li>
            <li><a href="/sls" class="link-dark d-inline-flex text-decoration-none rounded">S.L.S</a></li>

           <!-- <li><a href="/contact" class="link-dark d-inline-flex text-decoration-none rounded">Contact</a></li>
        --!>
        </ul>
    </div>
</main>

{% block scripts %}

{{ bootstrap.load_js() }}

{% endblock %}
<script>
function openNav() {
  width = document.getElementById("mySidebar").style.width
    if (width == "250px") {
      document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";}
  else {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  }
}


</script>
</body>
</html>